export(ordLORgee,nomLORgee,matrixLOR,intrinsic.pars,ipfp.control,LORgee.control,waldts)
S3method(print,LORgee)
S3method(summary,LORgee)
S3method(print,summary.LORgee)
S3method(print,waldts)
import(gnm,VGAM)
importFrom("utils", "combn")
importFrom("stats","pnorm","update","poisson","glm","reshape","make.link","model.response","model.extract","pchisq","printCoefmat")
